<a href="https://colab.research.google.com/github/visualeditorNL/data_cleaning_course/blob/master/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

****Data opruimen**** <br>
Er wordt tegenwoordig heel heel veel data verzameld. Door mensen, maar vooral door sensoren. <br>
Mensen maken fouten en deze moeten we eruit halen. Ze maken een typefout, of coderen iets verkeerd waardoor data verkeerd opgeslagen wordt. Dit moeten wel verbeteren. Maar ook bij sensoren gaat er wel eens iets fout. Bij de sensor of tijdens het versturen. <br>
Als je gaat werken met de data zul je dus bijna altijd de data moeten 'schoonmaken'. Je zal moeten uitzoeken waarom data mist en je afvragen of dat een probleem is. Maar het kan ook zijn dat er 'rare' data te zien is. Waardes die ineens heel hoog of heel laag zijn. Dan moet je gaan uitzoeken en bedenken of dit inderdaad een foute meting is of wat je echt iets bijzonders hebt ontdekt. <br><br>

**Data inlezen**<br>
De meeste data wordt tegenwoordig in csv of json weggeschreven. Dit zijn kleine tekstfiles die een bepaalde opmaak hebben. We werken nu met csv (comma seperated values) files. Hier een voorbeeld van een csv-file:
![Voorbeeld CSV-data](https://raw.githubusercontent.com/visualeditorNL/data_cleaning_course/master/Schermafdruk%202020-02-12%2010.36.05.png)
<br>
Dit is voor een mens moeilijk leesbaar. Eerste rij bestaat uit de kolomnamen en daarna volgen de gegevens, iedere waarde gescheiden door een komma.
Als we de bovenstaande data in een tabel zetten, wordt het ook voor een mens makkelijk leesbaar:
![CSV in een tabel](https://raw.githubusercontent.com/visualeditorNL/data_cleaning_course/master/Schermafdruk%202020-02-12%2010.36.22.png)
<br>
Dezelfde data maar nu voor een mens leesbaar. Kijk nu weer eens goed naar de ruwe data. Zie je nu de opbouw van een csv-file?<br>
<strong>VRAAG: Waarom bewaren we niet alle data in deze opmaak?</strong> Volgende stap, de data inlezen. Daar moeten we eerst een python library voor importeren.

***Opdracht 1***<br>
Importeer eerst de library pandas door in de code editor hieronder <code>import pandas as pd</code> te typen.<br>
Vervolgens moet je je data inlezen dat doe je door je data een naam te geven en vervolgens het csv-bestand te importeren: <code> df = pd.read_csv("lokatieEnNaam.csv")</code>. Door vervolgens <code>df.head()</code> te typen krijg je de eerste 5 rijen te zien van je data. Als het geen mooie tabel wordt moet je even kijken wat voor <i>seperator</i> er in de csv is gebruikt. Normaal gesproken is dit een komma (standaard-waarde), maar puntkomma's of tabs komen  voor, omdat je anders moeilijk met kommagetallen kan werken in je data. Als er een andere separator wordt gebruikt dan moet je dit aangeven op het moment dat je de csv in leest door <code>df = pd.read_csv("lokatieEnNaam.csv", sep = ";")</code> in te voeren bij de eerdere regel.

In [0]:
# Maak hier opdracht 1

***Data begrijpen***<br>
Je kan ook de laatste rijen zien door <code>df.tail()</code> of een random selectie van 10 rijen door <code>df.sample(10)</code> te typen. Met <code>df.columns</code> krijg je een lijst met kolomnamen en <code>df.shape</code> geeft je het aantal rijen en kolommen in je data (let op bij beide geen ronde haakjes, het zijn attributen van de df en geen functie). Dit is altijd goed om mee te beginnen dat je weet wat voor data je hebt. Probeer de rijen en de kolommen te begrijpen.

In [0]:
# ruimte om te oefenen

Met <code>df.info()</code> krijg je een overzicht van je dataframe. Uit wat voor kolommen bestaat het, wat voor gegevens? Probeer dit ook in de code editor hierboven uit.

In [5]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/visualeditorNL/data/master/grafana_data_export.csv", sep=";")
#welke waarden categoriale var
df.head()
#df.Series.value_counts(dropna=True)

                                Series                       Time  Value
0  AstroPlantExplorer.AppleLokaal.mean  2020-01-27T15:00:00+01:00    NaN
1  AstroPlantExplorer.AppleLokaal.mean  2020-01-27T15:10:00+01:00    NaN
2  AstroPlantExplorer.AppleLokaal.mean  2020-01-27T15:20:00+01:00    NaN
3  AstroPlantExplorer.AppleLokaal.mean  2020-01-27T15:30:00+01:00    NaN
4  AstroPlantExplorer.AppleLokaal.mean  2020-01-27T15:40:00+01:00    NaN

# New Section

In [0]:

#gemiddelde, sd, max, min 
df.describe()

In [0]:
# om data te visualiseren hebben we de matplotlib.pyplot library nodig
import matplotlib.pyplot as plt

# Het is een goede gewoonte om eerst de data weer even te onderzoeken
print(df['Value'].describe())

# En dan plotten we een histogram
df['Value'].plot(kind='hist')

# Deze moet je ook nog laten zien
plt.show()

In [0]:
# Een boxplot is ook een mooie grafiek om even naar je data te kijken
df.boxplot(column='Value', by='Series', rot=90)

# En weer de plot laten zien
plt.show()

In [0]:
#Met twee numerieke kolommen maak je een scatterplot (deze hebben we (nog) niet in dit dataframe)

#df.plot(kind="scatter", x="Time", y="Value", rot=70)
#plt.show()

In [0]:
#gooi de rijen zonder waarde (NaN) weg en check of het gelukt is
df_subset = df.dropna()
df_subset = df_subset[['Time','Value']]
df.info()
df_subset.info()
df_subset.loc(870)
df_subset.plot(kind="scatter", x="Time", y="Value", rot=70)
plt.show()

In [0]:
def tijd_aanpassen(x):
  xNew = x[:-9]
  return xNew

df['Time'] = df['Time'].apply(tijd_aanpassen)

# set de tijd-kolom om in tijd 
df['Time'] = pd.to_datetime(df['Time'])