<a href="https://colab.research.google.com/github/visualeditorNL/data_cleaning_course/blob/master/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Data opruimen*** <br>
Er wordt tegenwoordig heel heel veel data verzameld. Door mensen, maar vooral door sensoren. <br>
Mensen maken fouten en deze moeten we eruit halen. Ze maken een typefout, of coderen iets verkeerd waardoor data verkeerd opgeslagen wordt. Dit moeten wel verbeteren. Maar ook bij sensoren gaat er wel eens iets fout. Bij de sensor of tijdens het versturen. <br>
Als je gaat werken met de data zul je dus bijna altijd de data moeten 'schoonmaken'. Je zal moeten uitzoeken waarom data mist en je afvragen of dat een probleem is. Maar het kan ook zijn dat er 'rare' data te zien is. Waardes die ineens heel hoog of heel laag zijn. Dan moet je gaan uitzoeken en bedenken of dit inderdaad een foute meting is of wat je echt iets bijzonders hebt ontdekt. <br>
**Data inlezen**<br>
De meeste data wordt tegenwoordig in csv of json weggeschreven. Dit zijn kleine tekstfiles die een bepaalde opmaak hebben. We werken nu met csv (comma seperated values) files.

In [6]:
import pandas as pd

df = pd.read_csv("grafana_data_export.csv", sep=";")

df.head()

                                Series                       Time  Value
0  AstroPlantExplorer.AppleLokaal.mean  2020-01-27T15:00:00+01:00    NaN
1  AstroPlantExplorer.AppleLokaal.mean  2020-01-27T15:10:00+01:00    NaN
2  AstroPlantExplorer.AppleLokaal.mean  2020-01-27T15:20:00+01:00    NaN
3  AstroPlantExplorer.AppleLokaal.mean  2020-01-27T15:30:00+01:00    NaN
4  AstroPlantExplorer.AppleLokaal.mean  2020-01-27T15:40:00+01:00    NaN

In [7]:
df.tail()

               Series                       Time      Value
6049  SMA-A429B0.mean  2020-02-03T14:20:00+01:00  23.052632
6050  SMA-A429B0.mean  2020-02-03T14:30:00+01:00  23.050000
6051  SMA-A429B0.mean  2020-02-03T14:40:00+01:00  23.000000
6052  SMA-A429B0.mean  2020-02-03T14:50:00+01:00  23.000000
6053  SMA-A429B0.mean  2020-02-03T15:00:00+01:00  23.000000

In [8]:
df.columns

Index(['Series', 'Time', 'Value'], dtype='object')

In [9]:
df.shape

(6054, 3)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6054 entries, 0 to 6053
Data columns (total 3 columns):
Series    6054 non-null object
Time      6054 non-null object
Value     1780 non-null float64
dtypes: float64(1), object(2)
memory usage: 142.0+ KB

In [12]:

#welke waarden categoriale var
df.Series.value_counts(dropna=True)

AstroPlantExplorer.yourName.mean       1009
AstroPlantExplorer.user.mean           1009
AstroPlantExplorer.AppleLokaal.mean    1009
AstroPlantExplorer.Ted.mean            1009
AstroPlantExplorer.Loet.mean           1009
SMA-A429B0.mean                        1009
Name: Series, dtype: int64

In [13]:

#gemiddelde, sd, max, min 
df.describe()

             Value
count  1780.000000
mean     22.088992
std       1.333109
min      14.736842
25%      20.997222
50%      21.911111
75%      23.055556
max      29.000000