<a href="https://colab.research.google.com/github/visualeditorNL/data_cleaning_course/blob/master/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Data opruimen*** <br>
Er wordt tegenwoordig heel heel veel data verzameld. Door mensen, maar vooral door sensoren. <br>
Mensen maken fouten en deze moeten we eruit halen. Ze maken een typefout, of coderen iets verkeerd waardoor data verkeerd opgeslagen wordt. Dit moeten wel verbeteren. Maar ook bij sensoren gaat er wel eens iets fout. Bij de sensor of tijdens het versturen. <br>
Als je gaat werken met de data zul je dus bijna altijd de data moeten 'schoonmaken'. Je zal moeten uitzoeken waarom data mist en je afvragen of dat een probleem is. Maar het kan ook zijn dat er 'rare' data te zien is. Waardes die ineens heel hoog of heel laag zijn. Dan moet je gaan uitzoeken en bedenken of dit inderdaad een foute meting is of wat je echt iets bijzonders hebt ontdekt. <br>
**Data inlezen**<br>
De meeste data wordt tegenwoordig in csv of json weggeschreven. Dit zijn kleine tekstfiles die een bepaalde opmaak hebben. We werken nu met csv (comma seperated values) files.

In [25]:
import pandas as pd

df = pd.read_csv("grafana_data_export.csv", sep=";")

df.head()

                                Series                       Time  Value
0  AstroPlantExplorer.AppleLokaal.mean  2020-01-27T15:00:00+01:00    NaN
1  AstroPlantExplorer.AppleLokaal.mean  2020-01-27T15:10:00+01:00    NaN
2  AstroPlantExplorer.AppleLokaal.mean  2020-01-27T15:20:00+01:00    NaN
3  AstroPlantExplorer.AppleLokaal.mean  2020-01-27T15:30:00+01:00    NaN
4  AstroPlantExplorer.AppleLokaal.mean  2020-01-27T15:40:00+01:00    NaN

In [0]:
df.tail()

In [10]:
df.columns

Index(['Series', 'Time', 'Value'], dtype='object')

In [0]:
df.shape

In [0]:
df.info()

In [0]:

#welke waarden categoriale var
df.Series.value_counts(dropna=True)

In [0]:

#gemiddelde, sd, max, min 
df.describe()

In [0]:
# om data te visualiseren hebben we de matplotlib.pyplot library nodig
import matplotlib.pyplot as plt

# Het is een goede gewoonte om eerst de data weer even te onderzoeken
print(df['Value'].describe())

# En dan plotten we een histogram
df['Value'].plot(kind='hist')

# Deze moet je ook nog laten zien
plt.show()

In [0]:
# Een boxplot is ook een mooie grafiek om even naar je data te kijken
df.boxplot(column='Value', by='Series', rot=90)

# En weer de plot laten zien
plt.show()

In [0]:
#Met twee numerieke kolommen maak je een scatterplot (deze hebben we (nog) niet in dit dataframe)

#df.plot(kind="scatter", x="Time", y="Value", rot=70)
#plt.show()

In [31]:
#gooi de rijen zonder waarde (NaN) weg en check of het gelukt is
df_subset = df.dropna()
df_subset.info()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1780 entries, 293 to 6053
Data columns (total 3 columns):
Series    1780 non-null object
Time      1780 non-null object
Value     1780 non-null float64
dtypes: float64(1), object(2)
memory usage: 55.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6054 entries, 0 to 6053
Data columns (total 3 columns):
Series    6054 non-null object
Time      6054 non-null object
Value     1780 non-null float64
dtypes: float64(1), object(2)
memory usage: 142.0+ KB